body {
    background-color: #333333;
    padding: 20px;
  }

h1 {
    color: rgb(5, 143, 0);
  }

p {
    color: rgb(196, 196, 196);
  }

  a {
    text-decoration: none;
  }

input[type="file"] {
    display: none;
}

.custom-button {
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-button:hover {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}