body
{
    font-family: consolas, monospace;
    max-width: 640px;
    margin: 0px auto;
    border: 10px solid #fff;
}

.small-text {
  font-size: 12px; /* Set the font size for small text */
}

li {
    padding-bottom: 10px;
}

em
{
    font-weight: bold;
}
Footer
