body
{
    font-family: consolas, monospace;
    max-width: 640px;
    margin: 0px auto;
    border: 10px solid #fff;
}

.small-text {
  font-size: 12px; /* Set the font size for small text */
}

.custom-select {
  position: relative;
  font-family: consolas, monospace;
}

#my-li {
    padding-bottom: 10px;
}

#map {
    height: 500px; 
}

em
{
    font-weight: bold;
}

.last-updated {
    margin-top: 30px;
    text-align: center;
    color: #666;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.last-updated p {
    margin: 0;
}
Footer
