body {
    background-color: #757575;
    padding: 20px;
  }

p {
    color: rgb(196, 196, 196);
  }

a {
    text-decoration: none;
  }

input[type="file"] {
    display: none;
}

.minecraft {
    height: 100px;
    background-image: url("images/minecraft-top.png");
    background-repeat: repeat-x;  
}

.header {
    background-color: #442d1e;
    color: #dfedb1;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 40px;
    padding-left: 40px;
    margin-bottom: 12px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.custom-button {
    color: rgb(204, 204, 204);;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 6px;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 6px;
}

.custom-button:hover {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
    
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-5 {width: 49.66%;}
    .col-s-12 {width: 100%;}
}
            
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-5 {width: 49.66%;}
    .col-12 {width: 100%;}
}
